/* GALLERIES.SHOW */
.img-container img {
    height: 100px;
    width: auto;
    object-fit: cover;
}

img.img-prof {
    height: 200px !important;
    width: 200px !important;
    object-fit: contain !important;
}
